name: Build and test

on:
    workflow_call:
    push:
        branches: [main]
jobs:
    build-and-test:
        runs-on: ubuntu-latest
        steps:
          - name: Checkout
            uses: actions/checkout@v6

          - name: Setup Go
            uses: actions/setup-go@v6
            with:
                go-version: 'stable'

          - name: Build project
            run: go build -v ./...

          - name: Check formatting
            run: '[ ! "$(gofmt -s -l .)" ]'

          - name: Test project
            run: go test -v ./...
